.card {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #121212;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chip {
  position: absolute !important;
  bottom: 8px;
  left: 8px;
  background-color: black !important;
  color: white !important;
  font-size: 12px;
}

.title {
  font-size: 14px;
  color: white;
}
